html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
}
h1.display-4{
  font-size: 20px;
  color: #00A3E0;
  margin-top: 15px;
  font-weight: bold;
}

h2{
  font-size: 18px;
  margin-top: 50px;
  color: #67BB40;
  
  font-weight: bold;
}
.carousel-inner {
  height: 450px; 
}
img.d-block{
  height: 450px;
}